@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Verdana&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}